/*#parent {
  height: 100px;
  overflow: auto;
}

#child1 {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  width: 30px;
  height: 30px;
}

/*#child2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: blue;
  width: 30px;
  height: 30px;
}
*/

.horizontal {
  text-align: center;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 25%;
  border: 2px solid black;
}

.vertical {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 25%;
  top: 50%;
  height: 200px;
  border-left: 3px solid black;
}

.Reason {
  position: fixed;
  left: auto;
  left: 18%;
  top: 55%;
}

h1 {
  position: fixed;
  left: 35%;
  top: 25%;
}

html {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 100%;
}

.Religon {
  position: fixed;
  left: auto;
  left: 18%;
  top: 45%;
}

.point1 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: auto;
  top: auto;
  left: 26%;
  top: 55%;
}

.popup1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point2 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: 28%;
  top: 54%;
}

.popup2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point3 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: 30%;
  top: 48%;
}

.popup3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point4 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: 35%;
  top: 54%;
}

.popup4 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point5 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: 39%;
  top: 50%;
}

.popup5 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point6 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: 46%;
  top: 48%;
}

.popup6 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point7 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: 50%;
  top: 49%;
}

.popup7 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point8 {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
  left: 56%;
  top: 40%;
}

.popup8 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point9 {
  position: fixed;
  left: 60%;
  top: 45%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
}

.popup9 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point10 {
  position: fixed;
  left: 65%;
  top: 45%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
}

.popup10 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}

.point11 {
  position: fixed;
  /*Top and Left to be Determined*/
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
}

.popup11 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  visibility: hidden;
}
